@inherits LayoutComponentBase

<div class="main">
    <div class="top-row justify-content-md-center border-0">
        <NavMenu/>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
